.customSelect {
  width: 100%;
  position: relative;
  margin-right: 0.5rem;
}
.customSelect select {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4b5563;
  padding: 0.5rem;
  margin: 0.5rem 0;
  outline: none;
  position: relative;
  z-index: 10;
  background: none;

  -webkit-appearance: none;
}
.customSelect select:focus {
  border: 1px solid dodgerblue !important;
}
.customDate {
  position: relative;
  z-index: 2;
  background: none;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  outline: none;
  color: #4b5563;
  input[type='date']:invalid::-webkit-datetime-edit {
    color: #4b5563;
  }
  &:focus {
    border: 1px solid dodgerblue;
  }
}

.customInput {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  padding-left: 1rem;
  position: relative;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  &:focus {
    border: 1px solid dodgerblue !important;
  }
  &:active {
    border: 1px solid dodgerblue !important;
  }
}
