.customSelect {
  width: 60%;
  position: relative;
}
.customSelect select {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  color: #4b5563;
  line-height: 1;
  padding: 0.7rem;
  margin: 0.5rem 0;
  outline: none;
  position: relative;
  z-index: 10;
  background: none;

  -webkit-appearance: none;
}
.customSelect select:focus {
  border: 1px solid dodgerblue !important;
}
.customDate {
  position: relative;
  z-index: 2;
  background: none;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  outline: none;
  color: #4b5563;
  input[type='date']:invalid::-webkit-datetime-edit {
    color: #4b5563;
  }
  &:focus {
    border: 1px solid dodgerblue;
  }
}
// customdate: 'my-1 p-2   border-[1px] border-gray-200 outline-none hover:outline-none rounded-lg focus:border-blue-300';
